@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 248px;
        --font_size: 17px;
        --font_size_title: 40px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .content_flex .content
    {
        width: calc(100% - var(--sidebar_width) - 24px);
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 32px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item + .accordion_item
    {
        margin-top: 8px;
    }


    .accordion_item .head
    {
        padding-left: 24px;
    }


    .accordion_item .head .title
    {
        font-size: 19px;
        line-height: 23px;
    }


    .accordion_item .head .icon
    {
        right: 16px;

        width: 20px;
        height: 20px;
    }


    .accordion_item .data
    {
        padding-top: 16px;
        padding-right: 48px;
        padding-bottom: 24px;
        padding-left: 48px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs .btn
    {
        font-size: 17px;
        line-height: 21px;

        padding: 16px 24px;
    }

    .tabs .btn span
    {
        padding-top: 3px;
        padding-bottom: 2px;
    }


    .tab_content.active
    {
        padding: 24px;
    }

    .tab_content.active > * + *
    {
        margin-top: 40px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 40px;
    }

    .pagination > * + *
    {
        margin-top: 32px;
    }



    /*--------------
        All link
    --------------*/
    .all_link
    {
        margin-top: 40px;
    }



    /*------------
        Header
    ------------*/
    header .info
    {
        padding: 28px 0;
    }

    header .info .row + .row
    {
        margin-top: 20px;
    }



    header .logo img
    {
        height: 56px;
    }



    header .data
    {
        width: calc(100% - 260px);
    }



    header .links > * + *
    {
        margin-left: 60px;
    }



    header .callback_btn
    {
        font-size: 14px;
        line-height: 16px;

        margin-left: 24px;
    }



    header .write
    {
        margin-right: 0;
        margin-left: auto;
    }


    header .feedback_btn
    {
        font-size: 14px;
        line-height: 16px;
    }


    header .messengers
    {
        margin-left: 24px;
    }

    header .messengers a + a
    {
        margin-left: 12px;
    }



    header .cart_link
    {
        font-size: 19px;
        line-height: 23px;

        margin-left: auto;
    }


    header .cart_link .icon
    {
        margin-right: 16px;
    }

    header .cart_link .icon span
    {
        font-size: 12px;
        line-height: 19px;

        top: -8px;
        right: -10px;

        width: 18px;
        height: 18px;
    }



    header .menu
    {
        padding-left: 0;
    }


    header .menu_item + .menu_item
    {
        margin-left: 60px;
    }


    header .menu_item > a
    {
        min-height: 60px;
    }


    header .sub_menu
    {
        left: -24px;

        width: 200px;
        margin-left: 0;
        padding: 24px;
    }



    /*------------
        Filter
    ------------*/
    .filter .item
    {
        padding: 16px;
    }


    .filter .label
    {
        font-size: 18px;
        line-height: 22px;
    }


    .filter .data
    {
        margin-top: 16px;
    }


    .filter .form .input
    {
        font-size: 15px;

        height: 40px;
    }


    .filter .form .checkbox
    {
        font-size: 15px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 32px;
        padding-top: 24px;
    }


    .breadcrumbs .sep
    {
        margin-right: 10px;
        margin-left: 10px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head,
    .block_head.big_m
    {
        margin-bottom: 24px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns
    {
        --form_columns_offset: 32px;
    }


    .form .line
    {
        margin-bottom: 24px;
    }


    .form .file label
    {
        padding: 7px 7px 7px 15px;
    }

    .form .file .icon
    {
        width: 24px;
        min-width: 24px;
        height: 24px;
    }

    .form .file .label,
    .form .file .btn
    {
        font-size: 16px;
    }


    .form .agree
    {
        margin-bottom: 20px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 16px;
    }


    .text_block > *,
    .text_block .img_block > div > *,
    .text_block .message > *,
    .text_block .highlighted > *
    {
        margin-bottom: 20px;
    }


    .text_block h3
    {
        font-size: 30px;
        line-height: 36px;
    }

    .text_block h4
    {
        font-size: 24px;
        line-height: 30px;
    }


    .text_block h2,
    .text_block h3,
    .text_block h4
    {
        margin-bottom: 24px !important;
    }

    .text_block * + h2,
    .text_block * + h3,
    .text_block * + h4
    {
        margin-top: 60px;
    }


    .text_block .img_block
    {
        margin-top: 48px;
        margin-bottom: 48px;
    }


    .text_block .img_block img,
    .text_block .img_block > div
    {
        width: calc(50% - 20px);
    }


    .text_block figure figcaption
    {
        font-size: 30px;
        line-height: 38px;

        left: 80px;

        width: 380px;
    }

    .text_block figure figcaption:before
    {
        left: 4px;

        width: 52px;
        margin-bottom: 16px;
    }


    .text_block .slider .title
    {
        margin-bottom: 32px !important;
    }


    .text_block .slider .controls
    {
        margin-bottom: 30px;
    }


    .text_block .slider .item .thumb + *
    {
        margin-top: 24px;
    }


    .text_block ul li + li
    {
        margin-top: 8px;
    }

    .text_block ul li:before
    {
        top: 8px;
    }


    .text_block ol li + li
    {
        margin-top: 16px;
    }


    .text_block .message
    {
        margin-top: 48px;
        margin-bottom: 48px;
        padding: 24px;
    }


    .text_block .cols
    {
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .text_block .cols .col
    {
        width: calc(50% - 20px);
    }


    .text_block .table_wrap
    {
        margin-top: 48px;
        margin-bottom: 48px;
    }


    .text_block table th:first-child,
    .text_block table td:first-child
    {
        padding-right: 23px;
        padding-left: 23px;
    }


    .text_block .highlighted
    {
        margin-top: 48px;
        margin-bottom: 48px;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider
    {
        margin-bottom: 92px;
    }


    .main_slider .image
    {
        width: calc(100% - 420px);
        max-width: calc(100% - 420px);
    }


    .main_slider .data
    {
        width: 380px;
        padding: 60px 0 80px;
    }


    .main_slider .pre_title
    {
        margin-bottom: 12px;
    }


    .main_slider .title
    {
        font-size: 56px;
    }


    .main_slider .desc
    {
        width: 256px;
    }


    .main_slider .link
    {
        margin-top: 24px;
        padding-right: 60px;
    }

    .main_slider .link:after
    {
        top: 2px;

        width: 40px;
    }


    .main_slider .controls
    {
        right: 24px;
        bottom: 0;

        margin-right: 0;
    }


    .main_slider .count
    {
        margin-right: 24px;
    }

    .main_slider .count .current
    {
        font-size: 34px;
    }



    /*----------------
        About text
    ----------------*/
    .about_text
    {
        margin-bottom: 40px;
    }


    .about_text .text
    {
        font-size: 18px;
    }



    /*--------------
        Products
    --------------*/
    .products.big_m
    {
        margin-bottom: 92px;
    }


    .products .controls
    {
        margin-bottom: 24px;
    }


    .products .row
    {
        margin-bottom: -12px;
        margin-left: -12px;
    }

    .products .row > *
    {
        width: calc(25% - 12px);
        margin-bottom: 12px;
        margin-left: 12px;
    }

    .content .products .row > *
    {
        width: calc(33.333% - 12px);
    }


    .products .product .stickers
    {
        top: 12px;
        left: 12px;
    }


    .products .product .price
    {
        min-height: 50px;
        margin-top: 16px;
    }

    .products .product .price .old
    {
        font-size: 15px;
    }

    .products .product .price .discount
    {
        margin-left: 12px;
    }

    .products .product .price .old ~ .new
    {
        margin-top: 0;
    }


    .products .product .buy_btn
    {
        right: 20px;
        bottom: 25px;
    }


    .products .big .product
    {
        padding: 0 24px 24px;
    }

    .products .big .product .thumb
    {
        width: calc(100% + 48px);
        margin: 0 -24px 24px;
    }

    .products .big .product .buy_btn
    {
        right: 24px;
    }



    .products.sale .swiper-slide
    {
        width: 252px;
    }

    .products.sale .swiper-slide.big_w
    {
        width: 424px;
    }


    .products.sale .product .thumb,
    .products.sale .big_w .product .thumb
    {
        padding-bottom: 324px;
    }

    .products.sale .big_w .product .thumb
    {
        width: calc(100% + 48px);
        margin: 0 -24px 20px;
    }


    .products.sale .big_w .product
    {
        padding-right: 24px;
        padding-left: 24px;
    }

    .products.sale .big_w .product .name,
    .products.sale .big_w .product .price
    {
        width: 100%;
    }



    /*-----------------
        About block
    -----------------*/
    .about_block .images
    {
        width: calc(50% + 4px);
        margin-bottom: -20px;
        margin-left: -20px;
    }


    .about_block .images img
    {
        max-width: calc(100% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .about_block .images img:nth-child(2)
    {
        width: 220px;
    }

    .about_block .images img:nth-child(3)
    {
        width: 232px;
    }

    .about_block .images img:nth-child(4)
    {
        width: 108px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        margin-bottom: 60px;
    }


    .advantages .row
    {
        padding-top: 16px;
    }


    .advantages .item
    {
        font-size: 16px;
    }


    .advantages .item .icon
    {
        height: 108px;
        margin-bottom: 0;
        padding: 0 20px;
    }



    /*--------------
        Articles
    --------------*/
    .articles:not(.block)
    {
        margin-bottom: 92px;
    }

    .articles.bg
    {
        padding: 70px 0;
    }


    .articles .grid
    {
        grid-gap: 24px;
    }


    .articles .article .name
    {
        font-size: 15px;

        padding: 20px 24px;
    }


    .articles .article.big .name
    {
        font-size: 20px;

        min-height: 200px;
        padding: 40px 48px;
    }


    .articles .controls
    {
        margin-bottom: 24px;
    }



    /*---------------
        Articles2
    ---------------*/
    .articles2 .article + .article
    {
        margin-top: 60px;
    }


    .articles2 .article .thumb
    {
        width: calc(50% - 20px);
        height: 376px;
    }


    .articles2 .article .data
    {
        width: calc(50% - 20px);
    }


    .articles2 .article .name
    {
        font-size: 30px;
        line-height: 36px;

        margin-bottom: 24px;
    }


    .articles2 .article .link
    {
        margin-top: 24px;
    }

    .articles2 .article .link a:after
    {
        top: 0;
    }



    /*-----------------------
        Cooperation order
    -----------------------*/
    .cooperation_order .block_title
    {
        font-size: 36px;

        margin-bottom: 24px;
    }


    .cooperation_order .block_title .icon
    {
        width: 60px;
        margin-right: 16px;
    }


    .cooperation_order .block_title span
    {
        width: calc(100% - 76px);
    }


    .cooperation_order .form .columns
    {
        --form_columns_offset: 16px;
    }


    .cooperation_order .form .line
    {
        margin-bottom: 16px;
    }


    .cooperation_order .form .file
    {
        margin-bottom: 16px;
    }

    .cooperation_order .form .file,
    .cooperation_order .form .submit
    {
        padding-top: 8px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .data
    {
        padding: 24px 40px;

        justify-content: space-between;
    }

    .contacts_info .data > * + *
    {
        margin-left: 0;
    }


    .contacts_info .data .sep
    {
        height: 88px;
    }


    .contacts_info .data .email
    {
        margin-top: 20px;
    }


    .contacts_info .data .time
    {
        font-size: 15px;
    }


    .contacts_info .data .location
    {
        font-size: 15px;
    }

    .contacts_info .data .location .type
    {
        font-size: 16px;
    }


    .contacts_info .map
    {
        height: 480px;
    }



    /*---------------
        Subscribe
    ---------------*/
    .subscribe .data
    {
        padding: 24px;
    }


    .subscribe .title
    {
        font-size: 19px;

        width: 396px;
    }

    .subscribe .title .img
    {
        bottom: 4px;

        width: 132px;
        height: 133px;
        margin-left: -68px;
    }


    .subscribe .form
    {
        width: calc(100% - 448px);
    }


    .subscribe .form .input
    {
        font-size: 16px;

        width: calc(100% - 156px);
        height: 48px;
    }


    .subscribe .form .submit_btn
    {
        font-size: 15px;
        line-height: 21px;

        width: 156px;
        height: 48px;
    }

    .subscribe .form .submit_btn:before
    {
        left: -15px;

        width: 34px;
        height: 34px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        padding: 80px 0;
    }


    .action_block .data
    {
        width: 380px;
    }


    .action_block .title
    {
        font-size: 38px;
        line-height: 46px;
    }


    .action_block .desc
    {
        font-size: 19px;
        line-height: 25px;

        margin-top: 32px;
    }


    .action_block .call
    {
        font-size: 19px;
        line-height: 25px;
    }

    .action_block .call > * + *
    {
        margin-top: 8px;
    }


    .action_block .call a
    {
        font-size: 23px;
        line-height: 27px;
    }


    .action_block .form
    {
        width: 524px;
    }


    .action_block .img
    {
        top: 100px;

        width: 400px;
        height: auto;
        margin-right: 0;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images
    {
        width: calc(100% - 476px);
    }


    .product_info .images .thumbs
    {
        width: 92px;
    }

    .product_info .images .thumbs .swiper
    {
        padding: 60px 0;
    }


    .product_info .images .thumbs .swiper-slide button
    {
        height: 120px;
    }


    .product_info .images .big
    {
        width: calc(100% - 116px);
    }

    .product_info .images .big .swiper-slide a
    {
        height: 520px;
        padding: 24px;
    }


    .product_info .data
    {
        width: 452px;
    }


    .product_info .data .articul
    {
        font-size: 14px;
        line-height: 22px;
    }


    .product_info .data .desc
    {
        font-size: 15px;

        margin-top: 20px;
    }


    .product_info .data .buy
    {
        margin-top: 28px;
        padding: 32px;
    }


    .product_info .data .price .new
    {
        font-size: 28px;
        line-height: 48px;
    }

    .product_info .data .price .old
    {
        font-size: 18px;
        line-height: 24px;

        margin-bottom: -6px;
        padding-right: 2px;
        padding-left: 4px;
    }


    .product_info .data .price .discount
    {
        right: -12px;

        margin-bottom: -5px;
    }


    .product_info .data .amount
    {
        margin-left: 12px;
    }


    .product_info .data .buy_btn
    {
        font-size: 15px;
        line-height: 21px;

        width: 100%;
        height: 48px;
        margin-top: 4px;
    }


    .product_info .data .brand
    {
        margin-top: 28px;
    }


    .product_info .data .features
    {
        margin-top: 24px;
    }


    .product_info .data .features .item
    {
        font-size: 15px;
    }

    .product_info .data .features .item + .item
    {
        margin-top: 8px;
    }


    .product_info .data .features .label
    {
        width: calc(100% - 204px);
    }

    .product_info .data .features .val
    {
        width: 200px;
    }



    /*------------------
        Product tabs
    ------------------*/
    .product_tabs .title
    {
        font-size: 28px;

        margin-bottom: 20px;
    }



    /*-----------
        Files
    -----------*/
    .files .row
    {
        margin-bottom: -16px;
        margin-left: -24px;
    }

    .files .row > *
    {
        width: calc(50% - 24px);
        margin-bottom: 16px;
        margin-left: 24px;
    }


    .files .file
    {
        font-size: 15px;

        padding: 19px;
    }



    /*-----------
        Certs
    -----------*/
    .certs .row
    {
        margin-bottom: -4px;
        margin-left: -4px;
    }

    .certs .row > *
    {
        width: calc(25% - 4px);
        margin-bottom: 4px;
        margin-left: 4px;
    }


    .certs .cert
    {
        padding: 16px;
    }


    .certs .cert .thumb
    {
        height: 240px;
        margin-bottom: 24px;
    }


    .certs .cert .type
    {
        margin-top: 20px;
    }


    .certs .cert .size
    {
        font-size: 15px;

        margin-top: 20px;
        margin-left: 16px;
    }



    /*-------------------
        Products head
    -------------------*/
    .products_head
    {
        font-size: 15px;

        margin-bottom: 24px;
    }


    .products_head .limit .label,
    .products_head .sort .label
    {
        width: 108px;
        margin-right: 12px;
    }


    .products_head .sort
    {
        width: 100%;
        margin-top: 12px;
    }

    .products_head .sort .btn + .btn
    {
        margin-left: 24px;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info
    {
        margin-bottom: 24px;
    }


    .cart_info .product
    {
        padding: 20px 24px;
    }

    .cart_info .product > * + *
    {
        margin-left: 24px;
    }


    .cart_info .product .thumb
    {
        width: 80px;
        min-width: 80px;
    }

    .cart_info .product .thumb img
    {
        max-height: 100px;
    }


    .cart_info .product .info
    {
        width: calc(100% - 628px);
    }


    .cart_info .product .price
    {
        width: 124px;
    }

    .cart_info .product .price .old
    {
        font-size: 16px;
    }



    .cart_info .cart_total
    {
        font-size: 22px;

        width: 400px;
        padding: 24px 24px 24px 0;
    }

    .cart_info .cart_total .val
    {
        font-size: 30px;

        margin-left: 16px;
    }

    .cart_info .cart_total .currency
    {
        font-size: 22px;
        line-height: 28px;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .section
    {
        padding: 24px;
    }

    .checkout_info .section + .section
    {
        margin-top: 24px;
    }


    .checkout_info .section .title
    {
        font-size: 32px;
    }

    .checkout_info .section .title.big_m
    {
        margin-bottom: 24px;
    }


    .checkout_info .form .columns
    {
        --form_columns_offset: 24px;
    }


    .checkout_info .form .line
    {
        margin-bottom: 16px;
    }


    .checkout_info .form .line.row .label
    {
        width: 120px;
        padding-right: 16px;
    }


    .checkout_info .form .line.row .field
    {
        width: calc(100% - 120px);
    }


    .checkout_info .form .entity_check
    {
        padding-top: 16px;
    }

    .checkout_info .form .entity_check .checkbox
    {
        font-size: 17px;
    }


    .checkout_info .entity_info .file
    {
        margin-top: 16px;
        margin-bottom: 24px;
    }



    .checkout_info .payment_methods,
    .checkout_info .delivery_methods
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .checkout_info .payment_methods > *,
    .checkout_info .delivery_methods > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .checkout_info .payment_methods .check,
    .checkout_info .delivery_methods .check
    {
        top: 11px;
        left: 19px;

        width: 24px;
        height: 24px;
    }

    .checkout_info .payment_methods .check + *,
    .checkout_info .delivery_methods .check + *
    {
        padding: 12px 12px 12px 55px;
    }

    .checkout_info .delivery_methods .check + *
    {
        min-height: 80px;
    }


    .checkout_info .delivery_methods .exp
    {
        font-size: 14px;

        width: calc(100% + 36px);
        margin-left: -36px;
    }


    .checkout_info .payment_methods .info,
    .checkout_info .delivery_methods .info
    {
        margin-top: 40px;
    }


    .checkout_info .payment_methods .info .line.row .label,
    .checkout_info .delivery_methods .info .line.row .label
    {
        width: 64px;
        min-width: 64px;
    }

    .checkout_info .payment_methods .info .line.row .label.big_w,
    .checkout_info .delivery_methods .info .line.row .label.big_w
    {
        width: 152px;
        min-width: 152px;
    }


    .checkout_info .total_price
    {
        font-size: 22px;
    }

    .checkout_info .total_price .val
    {
        font-size: 30px;

        margin-left: 24px;
    }

    .checkout_info .total_price .currency
    {
        font-size: 22px;
        line-height: 28px;
    }


    .checkout_info .submit
    {
        width: 288px;
    }


    .checkout_info .agree
    {
        margin-top: 16px;
        margin-bottom: 0;
    }



    /*------------------
        Brand slider
    ------------------*/
    .brand_slider .cont
    {
        height: 268px;
        padding-top: 48px;
        padding-bottom: 48px;
    }


    .brand_slider .title
    {
        font-size: 56px;
    }


    .brand_slider .logo,
    .brand_slider .logo img
    {
        width: 148px;
        height: 103px;
    }


    .brand_slider .desc
    {
        width: 240px;
    }


    .brand_slider .controls
    {
        right: 24px;
        bottom: 24px;

        margin-right: 0;
    }


    .brand_slider .count
    {
        margin-right: 24px;
    }

    .brand_slider .count .current
    {
        font-size: 34px;
    }



    /*-----------------
        Collections
    -----------------*/
    .collections
    {
        padding: 70px 0;
    }


    .collections .collection .stickers
    {
        top: 12px;
        left: 12px;
    }


    .collections .collection .name
    {
        font-size: 18px;
    }



    /*-------------------
        Brand history
    -------------------*/
    .brand_history .item + .item
    {
        margin-top: 60px;
    }


    .brand_history .data .title
    {
        font-size: 30px;
        line-height: 36px;

        margin-bottom: 24px;
    }



    /*-------------
        Recipes
    -------------*/
    .recipes .recipe .name
    {
        padding: 24px 24px 0;
    }


    .recipes .controls
    {
        margin-bottom: 24px;
    }



    /*----------------
        Brand info
    ----------------*/
    .brand_info .row
    {
        margin-bottom: -60px;
        margin-left: -60px;
    }

    .brand_info .row > *
    {
        width: calc(50% - 60px);
        margin-bottom: 60px;
        margin-left: 60px;
    }


    .brand_info .item .thumb
    {
        margin-bottom: 40px;
    }


    .brand_info .item .title
    {
        font-size: 32px;
        line-height: calc(100% + 6px);
    }


    .brand_info .item .text_block
    {
        margin-top: 24px;
    }



    /*------------
        Footer
    ------------*/
    footer .top
    {
        padding: 70px 0 48px;
    }

    footer .info
    {
        padding: 48px 0;
    }

    footer .bottom
    {
        padding: 24px 0;
    }


    footer .title
    {
        font-size: 16px;

        margin-bottom: 20px;
    }


    footer .links
    {
        min-width: 0;
    }


    footer .links .items
    {
        font-size: 15px;
    }

    footer .links .items > * + *
    {
        margin-top: 8px;
    }


    footer .links .items a
    {
        margin: 0 -16px;
        padding: 8px 16px;
    }



    footer .contacts .phone .icon
    {
        margin-right: 12px;
    }



    footer .contacts .email
    {
        font-size: 16px;

        margin-top: 24px;
    }

    footer .contacts .email .icon
    {
        margin-right: 12px;
    }



    footer .callback_btn,
    footer .feedback_btn
    {
        font-size: 14px;
        line-height: 18px;
    }

    footer .feedback_btn
    {
        margin-top: 24px;
    }



    footer .messengers
    {
        margin-top: 20px;
    }


    footer .messengers a
    {
        width: 28px;
        height: 28px;
    }

    footer .messengers a + a
    {
        margin-left: 16px;
    }


    footer .messengers .icon
    {
        width: 28px;
        height: 28px;
    }



    footer .location
    {
        font-size: 15px;
    }

    footer .location > * + *
    {
        margin-top: 8px;
    }



    footer .socials .items a
    {
        width: 44px;
        height: 44px;
    }

    footer .socials .items a + a
    {
        margin-left: 24px;
    }



    footer .creator
    {
        margin-left: 120px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal_title
    {
        font-size: 28px;

        margin-bottom: 24px;
    }
}
